
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -200px; 
  font-size: 1.5em;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 200px; 
}

#date-format {
  font-size: 2.5em;
  width: 400px;
  margin: auto;
}
